name: Metrics
on:
  # Schedule daily updates
  schedule: [{ cron: "0 0 * * *" }]
  # (optional) Run workflow manually
  workflow_dispatch:
  push:
    paths: [.github/workflows/Metrics.yml]
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@main
        with:
          token: ${{ secrets.METRICS_T }}

          # Options
          base: header, activity, community, repositories, metadata
          base_indepth: yes
          config_timezone: Etc/GMT-8
          retries: 5
          verify: yes
          
          # Plugins Options
          plugin_gists: yes
          repositories_forks: yes
          plugin_calendar: yes
